@mixin linkRightBorder {
  &:nth-of-type(n+1):nth-last-of-type(n+2) {
    border-right: 1px solid #649fe2;
  }
}

@mixin sectionFormat {
  padding: 1% 3%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10px, auto);
}

@mixin sectionHeaderFormat {
  .header-title {
    text-align: center;

    .strikethrough {
      position: relative;
      top: 19px;
      left: 0;
      z-index: -1;
    }

    .header-title-text {
      padding: 1%;
      background: #ffffff;
      font-size: 24px;
      font-weight: 100;
      color: #a3a3a3;
    }
  }
}