/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
  position: sticky;
  top: 0;
  background: #1d71ee;
  height: 144px;
  border: 1px solid #3d66ee;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10px, auto);
  z-index: 1;
}
.navbar .nav-top {
  background: #175abd;
  width: 100%;
  height: 34px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.navbar .nav-top .nav-top-links {
  grid-column: 2;
  width: 100%;
  margin-right: 20%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.navbar .nav-top .nav-top-links a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 2%;
  font-size: 14px;
  text-align: center;
  transition: color 0.2s;
}
.navbar .nav-top .nav-top-links a:hover {
  color: #e6c32a;
}
.navbar .nav-top .nav-top-links a:nth-of-type(n+1):nth-last-of-type(n+2) {
  border-right: 1px solid #649fe2;
}
.navbar .nav-bottom {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.navbar .nav-bottom .nav-left {
  width: 80%;
  justify-self: center;
}
.navbar .nav-bottom .nav-left .nav-logo {
  width: 12vw;
}
.navbar .nav-bottom .nav-right {
  width: 90%;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.navbar .nav-bottom .nav-right a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  transition: color 0.2s;
}
.navbar .nav-bottom .nav-right a:nth-of-type(n+1):nth-last-of-type(n+3) {
  border-right: 1px solid #649fe2;
}
.navbar .nav-bottom .nav-right a:hover {
  color: #e6c32a;
}
.navbar .nav-bottom .nav-right .hamburger {
  display: none;
}

.carousel {
  height: 348px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-items: center;
  background: #111925;
  overflow: hidden;
}
.carousel .carousel-arrow {
  height: 346px;
  width: 100%;
  background: #000000;
  background: linear-gradient(to right, #000000, #111925);
  display: grid;
  align-items: center;
  justify-items: center;
}
.carousel .carousel-arrow:hover {
  cursor: pointer;
}
.carousel .carousel-arrow:hover .arrow {
  color: #ffffff;
  transform: scale(1.5);
}
.carousel .carousel-arrow .arrow {
  color: #aaaaaa;
  transition: all 0.2s;
}
.carousel .reverse {
  background: linear-gradient(to left, #000000, #111925);
}
.carousel .carousel-item {
  grid-column: 2;
  width: 100%;
}
.carousel .carousel-item .carousel-img {
  height: 340px;
  width: 100%;
}
.carousel .guide-bubbles {
  grid-column: 1/4;
  position: relative;
  bottom: 60px;
  left: 0px;
  width: 90px;
  height: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  z-index: 0;
}
.carousel .guide-bubbles .bubble {
  height: 12px;
  width: 50%;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin: 1%;
  transition: transform 0.2s;
}
.carousel .guide-bubbles .bubble:hover {
  transform: scale(2);
  cursor: pointer;
}
.carousel .guide-bubbles .active {
  background: #175abd;
  animation: nextItem 0.3s 1;
}

@keyframes nextItem {
  20% {
    transform: scale(1.3);
  }
  40% {
    transform: scale(1.6);
  }
  60% {
    transform: scale(2);
  }
  80% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1.3);
  }
}
.brands {
  padding: 1% 3%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10px, auto);
}
.brands .header-title {
  text-align: center;
}
.brands .header-title .strikethrough {
  position: relative;
  top: 19px;
  left: 0;
  z-index: -1;
}
.brands .header-title .header-title-text {
  padding: 1%;
  background: #ffffff;
  font-size: 24px;
  font-weight: 100;
  color: #a3a3a3;
}
.brands .mobile-brands-header {
  display: none;
}
.brands .mobile-brands-subheader {
  display: none;
}
.brands .brand-options {
  margin-top: 2%;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 20px;
  justify-self: center;
}
.brands .brand-options .option {
  padding: 4%;
  text-align: center;
  background: #ffffff;
  border: 2px solid transparent;
  border-radius: 2px;
  font-size: 16px;
  color: #a3a3a3;
  transition: all 0.2s;
}
.brands .brand-options .option:hover {
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-shadow: 1px 1px 8px #dddddd;
  cursor: pointer;
  color: #175abd;
  transform: scale(1.1);
}
.brands .brand-options .selected {
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-shadow: 1px 1px 8px #dddddd;
  color: #175abd;
  transform: scale(1.1);
}
.brands .brand-items {
  padding-top: 4%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 40px;
  align-items: center;
  justify-items: center;
}
.brands .brand-items .brand-card {
  width: 95%;
  height: 360px;
  border: 2px solid #dddddd;
  box-shadow: 1px 1px 10px #dddddd;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 41% 32% 25%;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s;
}
.brands .brand-items .brand-card:hover {
  transform: scale(1.05);
  box-shadow: 8px 6px 20px #eeeeee;
}
.brands .brand-items .brand-card .brand-card-img {
  width: 100%;
  border-bottom: 1px solid #dddddd;
}
.brands .brand-items .brand-card .brand-card-img:hover {
  cursor: pointer;
}
.brands .brand-items .brand-card .brand-card-logo {
  width: 180px;
  height: 150px;
}
.brands .brand-items .brand-card .brand-card-logo:hover {
  cursor: pointer;
}
.brands .brand-items .brand-card .brand-card-content {
  width: 80%;
  text-align: center;
  color: #333333;
  line-height: 1.3;
}
.brands .brand-items .brand-card .brand-card-button {
  display: none;
}

.quick-links {
  padding: 1% 3%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10px, auto);
}
.quick-links .header-title {
  text-align: center;
}
.quick-links .header-title .strikethrough {
  position: relative;
  top: 19px;
  left: 0;
  z-index: -1;
}
.quick-links .header-title .header-title-text {
  padding: 1%;
  background: #ffffff;
  font-size: 24px;
  font-weight: 100;
  color: #a3a3a3;
}
.quick-links .links-container {
  margin: 4% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 40px;
}
.quick-links .links-container .link-title-main {
  font-size: 56px;
  color: #f1bd12;
  transition: color 0.2s;
}
.quick-links .links-container .top-link {
  height: 260px;
  padding: 4%;
}
.quick-links .links-container .top-link:hover {
  cursor: pointer;
}
.quick-links .links-container .top-link:hover .link-title-main {
  color: #ffffff;
}
.quick-links .links-container .top-link .quick-link-title {
  display: grid;
  grid-template-columns: 1fr;
}
.quick-links .links-container .top-link .quick-link-title .link-title-sub {
  font-size: 34px;
  color: #ffffff;
}
.quick-links .links-container .first-link {
  background-image: url("https://tbc.scene7.com/is/image/TBCCorporation/TBC-Corp-Retail-Tile?wid=700&fmt=jpeg&qlt=85,1&op_sharpen=0&resMode=sharp2&op_usm=0.9,1.0,8,0&printRes=72");
  background-position: center;
  background-size: cover;
}
.quick-links .links-container .second-link {
  background-image: url("https://tbc.scene7.com/is/image/TBCCorporation/Franchise-Tile?wid=700&fmt=jpeg&qlt=85,1&op_sharpen=0&resMode=sharp2&op_usm=0.9,1.0,8,0&printRes=72");
  background-position: center;
  background-size: cover;
  text-align: end;
}
.quick-links .links-container .bottom-link {
  grid-column: 1/3;
  height: 200px;
  display: grid;
  align-items: center;
  justify-items: center;
}
.quick-links .links-container .bottom-link:hover {
  cursor: pointer;
}
.quick-links .links-container .bottom-link:hover .link-title-main {
  color: #ffffff;
}
.quick-links .links-container .bottom-link .quick-link-title {
  width: 60%;
  margin-left: 20%;
  display: grid;
  grid-template-columns: 5fr 4fr;
  align-items: center;
}
.quick-links .links-container .bottom-link .quick-link-title .link-title-main {
  grid-column: 2;
  grid-row: 1;
  padding-left: 10%;
  padding-bottom: 2%;
  text-align: end;
}
.quick-links .links-container .bottom-link .quick-link-title .link-title-main .title-main-small {
  display: block;
  padding: 2%;
  font-weight: 900;
  font-size: 16px;
}
.quick-links .links-container .bottom-link .quick-link-title .link-title-sub {
  grid-column: 1;
  grid-row: 1;
  justify-self: end;
  font-size: 34px;
  color: #ffffff;
}
.quick-links .links-container .third-link {
  background-image: url("https://tbc.scene7.com/is/image/TBCCorporation/TBC-Careers-Tile?wid=1500&fmt=jpeg&qlt=85,1&op_sharpen=0&resMode=sharp2&op_usm=0.9,1.0,8,0&printRes=72");
  background-position: center;
  background-size: cover;
}

/*/////////////////////////////////
//////////////////////////////////
//////////////////////////////////
/////////////M O B I L E/////////
/////////////////////////////////
/////////////////////////////////
///////////////////////////////*/
@media only screen and (max-width: 990px) {
  .navbar {
    position: sticky;
    top: 0;
    background: #1d71ee;
    height: 80px;
    border: 1px solid #3d66ee;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(10px, auto);
    z-index: 1;
  }
  .navbar .nav-top {
    display: none;
  }
  .navbar .nav-bottom {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
  }
  .navbar .nav-bottom .nav-left {
    width: 80%;
    justify-self: center;
  }
  .navbar .nav-bottom .nav-left .nav-logo {
    width: 18vw;
  }
  .navbar .nav-bottom .nav-right {
    width: 90%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .navbar .nav-bottom .nav-right a:nth-of-type(5), .navbar .nav-bottom .nav-right a:nth-of-type(6) {
    display: none;
  }
  .navbar .nav-bottom .nav-right a {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    transition: color 0.2s;
  }
  .navbar .nav-bottom .nav-right a:hover {
    color: #e6c32a;
  }
  .navbar .nav-bottom .nav-right a:first-of-type {
    border-left: 1px solid #175abd;
  }
  .navbar .nav-bottom .nav-right a:nth-of-type(n+1):nth-last-of-type(n+2) {
    border-right: 1px solid #175abd;
    margin: 0 2%;
  }
  .navbar .nav-bottom .nav-right .hamburger {
    display: flex;
  }

  .carousel {
    display: none;
  }

  .brands {
    padding: 1% 3%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(10px, auto);
    overflow: hidden;
  }
  .brands .header-title {
    text-align: center;
  }
  .brands .header-title .strikethrough {
    position: relative;
    top: 19px;
    left: 0;
    z-index: -1;
  }
  .brands .header-title .header-title-text {
    padding: 1%;
    background: #ffffff;
    font-size: 24px;
    font-weight: 100;
    color: #a3a3a3;
  }
  .brands .strikethrough, .brands .header-title-text {
    display: none;
  }
  .brands .mobile-brands-header {
    margin-top: 4%;
    margin-block-end: 1%;
    display: block;
    width: 100%;
    text-align: left;
    color: #175abd;
    font-weight: 900;
  }
  .brands .mobile-brands-subheader {
    display: block;
    width: 100%;
    text-align: left;
    line-height: 1.3;
    color: #333333;
  }
  .brands .brand-options {
    margin-top: 8%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    justify-self: center;
  }
  .brands .brand-options .option {
    padding: 2%;
    text-align: center;
    background: #ffffff;
    border: 2px solid transparent;
    border-radius: 2px;
    font-size: 16px;
    color: #a3a3a3;
    transition: all 0.2s;
  }
  .brands .brand-options .option:hover {
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-shadow: 1px 1px 8px #dddddd;
    cursor: pointer;
    color: #175abd;
    transform: scale(1.1);
  }
  .brands .brand-options .selected {
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-shadow: 1px 1px 8px #dddddd;
    color: #175abd;
    transform: scale(1.1);
  }
  .brands .brand-items {
    margin-top: 8%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 20px;
  }
  .brands .brand-items .brand-card {
    width: 100%;
    border: none;
    box-shadow: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 15% 20%;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.2s;
  }
  .brands .brand-items .brand-card:hover {
    transform: none;
    box-shadow: none;
  }
  .brands .brand-items .brand-card .brand-card-img {
    width: 350px;
    border-bottom: none;
  }
  .brands .brand-items .brand-card .brand-card-img:hover {
    cursor: pointer;
  }
  .brands .brand-items .brand-card .brand-card-logo {
    display: none;
  }
  .brands .brand-items .brand-card .brand-card-content {
    width: 80%;
    text-align: center;
    color: #333333;
    line-height: 1.3;
    font-size: 20px;
  }
  .brands .brand-items .brand-card .brand-card-button {
    display: block;
    height: 40px;
    width: 60vw;
    border: 1px solid #175abd;
    border-radius: 5px;
    background: #175abd;
    color: #ffffff;
  }

  .quick-links {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
